<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
     <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
 <form id="insertForm" action="/classin/in" method="post">
 
	 <input type="text" name="userId" th:value="${session.member.id}">
	 <input type="text" name="classId" value="배성원선생님반">
	 <input type="text" name="academyId" value="휴먼교육센터">
	 <input type="text" name="statusYn" value="n">
	 <button id="classBtn">등록</button>
	 
 </form>
  <form id="studentFrom"action="/classin/in" method="get">
     <button id="mainBtn">메인으로</button>
     <button id="logoutBtn">로그아웃</button>
     
     <table class="table table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="classIdAll"></th>
                <th>아이디</th>
                <th>반</th>
                <th>학원</th>
                <th>상태</th>
                <th>인덱스</th>
            </tr>
        </thead>
         <tbody>
            <tr th:if="${not #lists.isEmpty( classlist )}" th:each="row : ${classlist}">
                <td><input type="checkbox" id="classcheck" name="check" th:value="${row.userId}"></td> 
                <td th:text="${row.userId}"></td>
                <td th:text="${row.classId}"></td>
                <td th:text="${row.academyId}"></td>
                <td th:text="${row.statusYn}"></td> 
                <td th:text="${rowStat.index}"></td>
            </tr>
            <tr th:unless="${not #lists.isEmpty(classlist)}">
                <td colspan="5">조회된 학생이 없습니다.</td>
            </tr>
        </tbody>
     </table>
  </form>
    <button id="callBtn">수락</button>
     <button id="noBtn">거절</button>
  <script>
  let studentFrom = $("#studentFrom");
  let insertForm = $("#insertForm");
  $("#classIdAll").on("click",function(){
	  if($("#classIdAll").is(":checked")){
		  $("input[name=check]").prop("checked",true);
	  }else{
		  $("input[name=check]").prop("checked",false);
	  }
  })
  $("#mainBtn").on("click",function(e){
	  e.preventDefault();
	  studentFrom.attr("action", "/member/main");
	  studentFrom.submit();
	  
  })
  
  $("#callBtn").on("click",function(e){
	   e.preventDefault();
	   var checkArr = []; 
	   $('input:checkbox[name=check]:checked').each(function() {
		   checkArr.push(this.value); 
		   console.log(checkArr[1]);
	   });

       $.ajax({
           url:'/classin/call', //Controller에서 인식할 주소
           type:'post', //POST 방식으로 전달
           data:{userIds:checkArr},
           success:function(data){
                   console.log(data);
                   if(data == 1){
                       location.reload();
                   }else{
                       
                    }
           },
           error:function(){
                   alert("에러입니다");
           }
        });
  })
  </script>
</body>
</html>